.nav_bar {
  padding: 0 20px;
  margin: 0 20px;
}
.app_bar {
  margin-bottom: 30px;
}
.cart_icon {
  margin-left: auto;
  display: flex;
  /* padding: 0; */
}
.cart_icon > .MuiIconButton-root {
  padding: 0;
  flex: 0;
}
/* .MuiIconButton-root {
  padding: 0;
} */
button:focus {
  outline: none;
}
button {
  padding: 0;
}
.account_button {
  margin-left: 10px;
}
